 <section>
 <h3>Data Type and basics</h3>
	 <ul>
	 <li>data types</li>
	 <li>falsy / truthy values</li>
	 <li>strict eq == ===</li>
	 <li>semicolons autocomplete</li>
	    <li>Arrays + operations</li>
	     <li>typeof, isArray etc.</li>
	</ul>

<h3>Object</h3>
	<ul>
		 <li>Object Literals
	 <li>Creating Objects
	 <li>Built-in Objects
	 <li>JSON
	 	<li>The Math Object
	<li>The Date Object
	<li>The RegExp Object
	</ul>

<h3>Functions</h3>
	<ul>
		<li>First class citizen
		<li>Defining a Function
		<li>Return Values</li>
		<li>Parameters and Arguments</li>
		<li>Scope
		<li>Hoisting
		<li>Callbacks
		<li>Array Iterators
		<li>currying</li>
		<li>anonymous aka lambda</li>
	</ul>

<h3>Functional JavaScript</h3>
	<ul>
		<li>What is Functional Programming?
		<li>Function Properties and Methods
		<li>Callbacks
		<li>Closures
		<li>Immediately Invoked Function Expressions
		<li>Functions that Define and Rewrite Themselves
		<li>Recursive Functions
		<li>Currying
	</ul>

<h3>Object-oriented Programming in JavaScript</h3>
	<ul>
		<li>Object-oriented Programming
		<li>Constructor Functions
		<li>Prototypal Inheritance
		<li>Public and Private Methods
		<li>Inheritance
		<li>The Object Constructor Function
		<li>Creating Objects from Objects
		<li>Adding Methods to Built-in Objects
		<li>Mixins
		<li>Chaining Functions
		<li>This and That
		<li>Borrowing Methods from Prototypes
	</ul>

<h3>Organizing Your Code</h3>
	<ul>
		<li>namespaces and collisions
		<li>Modules
		<li>patterns
		 </ul>
      </section>
