<section>
    <section>
        <h2>But JS sucks big time...</h2>
        <img src="../img/dog.jpg" />
    </section>
    <section>
        <h2>try learning it first... maybe</h2>
        <blockquote>
        Most people [...] don’t even bother to learn JavaScript first, and then they are surprised
        when JavaScript turns out to have significant differences from the some other
        language they would rather be using, and that those differences matter.
        </blockquote>
         Douglas Crockford
    </section>
    <section>
        <blockquote>
            There are only two kinds of languages: the ones people complain about and the ones nobody uses.

        </blockquote>
        Bjarne Stroustrup
        <p><br>...and JS is used a lot ;-)</p>
    </section>
</section>